* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.background {
  position: relative;
  width: 3072px;
  height: 1px;
  background-color: #fafaf5;
}

.grid {
  position: absolute;
  width: 1536px;
  height: 1552px;
}

.title_svg {
  position: absolute;
  top: 239px;
  left: 86px;
  width: 75px;
  height: auto;
}

.info_01svg {
  position: absolute;
  top: 66px;
  left: 91px;
  width: auto;
  height: 60px;
}

.info_02svg {
  position: absolute;
  top: 65px;
  right: 89px;
  width: auto;
  height: 39px;
}

.info_03svg {
  position: absolute;
  top: 569px;
  right: 1166px;
  width: auto;
  height: 38px;
}

.subtitle_svg {
  position: absolute;
  top: 535px;
  left: 204px;
  width: auto;
  height: 20px;
}

.main_info_svg {
  position: absolute;
  top: 621px;
  left: 201px;
  width: auto;
  height: 70px;
}

.restart_svg {
  position: absolute;
  top: 656.1px;
  left: 1402.3px;
  width: auto;
  height: 33px;
  opacity: 0.5;
}

.indicator_svg {
  position: absolute;
  top: 368px;
  left: 694px;
  width: auto;
  height: 22px;
  opacity: 0.2;

  animation: float 3.5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-9.5px);
  }
  100% {
    transform: translateY(0);
  }
}
.container {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-wrap: wrap;
  width: 1550px;
}

.box {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin: px;
}

.yellow_svg {
  position: absolute;
  top: 696.5px;
  left: 216.5px;
  width: auto;
  height: 23px;
}
.lightblue_svg {
  position: absolute;
  top: 457.5px;
  left: 49px;
  width: auto;
  height: 23px;
}
.lightblue02_svg {
  position: absolute;
  top: 265.5px;
  left: 1369px;
  width: auto;
  height: 23px;
}

.white_svg {
  position: absolute;
  top: 169.5px;
  left: 385px;
  width: auto;
  height: 23px;
}
.white02_svg {
  position: absolute;
  top: 721.1px;
  left: 1440.4px;
  width: auto;
  height: 23px;
}
.purple_svg {
  position: absolute;
  top: 121.3px;
  left: 1224.5px;
  width: auto;
  height: 23px;
}
.red_svg {
  position: absolute;
  top: 145.3px;
  left: 336.5px;
  width: auto;
  height: 23px;
}

.black_svg {
  position: absolute;
  top: 577.1px;
  left: 1416.3px;
  width: auto;
  height: 23px;
}

.green_svg {
  position: absolute;
  top: 25.3px;
  left: 96.5px;
  width: auto;
  height: 23px;
}
.green02_svg {
  position: absolute;
  top: 697.1px;
  left: 1200.3px;
  width: auto;
  height: 23px;
}
